@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(122, 179, 122);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  margin-top: 5vh;
  margin-bottom: 8vh;
  color: white;
}

.calc-container {
  width: 30%;
  margin: auto;
  background-color: rgb(0, 240, 240);
  border: 1px solid rgb(188, 236, 236);
  border-radius: 5px;
  padding: 10px 20px;
}

.calc-container .row {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.input-class {
  width: 100%;
  height: 60px;
  text-align: right;
  border: 1px solid rgb(188, 236, 236);
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.952);
  font-size: 1.2rem;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  padding-right: 1rem;
}

.input-class span {
    width: 100%;
}

.button {
  flex: 1;
  height: 60px;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid rgb(188, 236, 236);
  background-color: rgba(255, 255, 255, 0.952);
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.75);
}

.operationKeys {
  background-color: rgb(243, 243, 153);
}

#clearBtn {
  background-color: rgb(248, 138, 138);
  border-color: rgb(248, 138, 138);
}

/*

body{
    background-color: rgb(122, 179, 122);
}

.container > h1 {
    text-align: center;
    color: white;
}

.row {
    width: 100%;
}

.input-class {
    width: -webkit-fill-available;
    height: 60px;
    margin: 5px;
    border: 1px solid rgb(188, 236, 236);
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.75);
}

.calc-container {
    width: max-content;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(0, 240, 240);
    border: 1px solid rgb(188, 236, 236);
    border-radius: 5px;
    padding: 10px 20px;
}

.button {
    //  display: inline-block; 
    width: 100px;
    height: 60px;
    margin: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(188, 236, 236);
    background-color: rgba(255, 255, 255, 0.952);
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.75);
}

.row > .button:last-child {
    background-color: rgb(243, 243, 153);
}

.row:last-child > .button:first-child {
    background-color: rgb(248, 138, 138);
}
*/
